@charset "UTF-8";

$tablet-up: 'min-width: 641px';

$monospace-font: 'PT Mono', monospace;
$body-font: 'Overpass', sans-serif;

$white: #fff;
$black: #333;
$true-black: #000;
$teal: #5CB5A4;
$lime: #9BCC9A;
$primary-gradient: linear-gradient(to bottom right, $teal, $lime);
$primary-gradient-hover: linear-gradient(to bottom right, lighten($teal, 10%), lighten($lime, 10%));

$font-normal: 400;

* { box-sizing: border-box; }

body {
  font-family: $body-font;
  font-weight: $font-normal;
  background: $white;
  color: $black;
  margin: 0px;
  font-size: 16px;
}

@keyframes wavyMove {
  from { background-position: 0px 0px; }
  to { background-position: 1200px 0px; }
}

#container {
  position: relative;
  width: 100%;
  height: 720px;
  overflow: hidden;
  background-image: url('./images/gradient-mesh.svg');
  background-size: cover;
  .fork {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 149px;
    height: 149px;
  }
  .header {
    position: absolute;
    width: 80%;
    height: 60%;
    left: 10%;
    text-align: center;
    cursor: default;
    .logo {
      display: block;
      width: 220px;
      margin: 160px auto 0px auto;
      @media (#{$tablet-up}) {
        width: 360px;
        margin: 140px auto 0px auto;
      }
    }
    h1 {
      font-size: 2.5rem;
      font-family: $monospace-font;
      color: $white;
      text-shadow: 0px 0px 10px rgba($true-black, 0.25);
    }
    h2 {
      text-transform: uppercase;
      font-size: 1rem;
      letter-spacing: 1px;
      color: rgba($white, 0.85);
      margin: 20px auto 0px auto;
      @media (#{$tablet-up}) { font-size: 1.2rem; }
      span {
        display: block;
        margin-bottom: 5px;
      }
    }
  }
  .wave {
    position: absolute;
    width: 100%;
    height: 150px;
    bottom: 0px;
    left: 0px;
    background-position: 0px 0px;
    background-size: 1200px 150px;
    animation: wavyMove 60s linear infinite;
    background-image: url('./images/wave.png');
  }
}

#sub-section {
  width: 100%;
  overflow: hidden;
  margin-bottom: 40px;
  @media (#{$tablet-up}) {
    width: 90%;
    margin-left: 5%;
  }
  .half {
    width: 100%;
    padding: 40px;
    text-align: center;
    @media (#{$tablet-up}) {
      float: left;
      width: 50%;
    }
    h3 {
      margin-top: 0px;
      font-family: $monospace-font;
    }
    .button {
      background: $primary-gradient;
      text-decoration: none;
      padding: 15px 20px;
      display: inline-block;
      color: $white;
      border-radius: 5px;
      text-transform: uppercase;
      letter-spacing: 1px;
      @media (#{$tablet-up}) { margin-top: 20px; }
      &:hover { background: $primary-gradient-hover; }
    }
  }
}
