body {
  font-family: 'Karla', sans-serif;
  font-weight: normal;
  background: white;
  color: #FFF;
  margin: 0;
}
nav.top {
  width: 100%;
  height: 45px;
  text-align: left;
  position: fixed;
  padding-top: 20px;
  z-index: 5;
}
a {
  text-decoration: none;
  -o-transition:.3s;
  -ms-transition:.3s;
  -moz-transition:.3s;
  -webkit-transition:.3s;
  transition:.3s;
}
a:hover {
  color: #DA727E;
}
h1 {
  color: #232E3E;
  font-size: 75px;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 5px;
}
h2 {
  color: #FFF;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0;
  margin-top: 20px;
  line-height: 1.6;
}
h1, h3 {
  letter-spacing: 1px;
  font-family: 'Source Code Pro', monospace;
}
h3 {
  color: #232E3E;
  font-size: 24px;
  font-weight: 700;
  display: inline;
  text-transform: uppercase;
}
p {
  color: #232E3E;
  font-size: 18px;
  margin-top: 10px;
}
button {
  background-color: #455C7B;
  border: none;
  color: white;
  padding: 5px 10px;
  display: inline-block;
  font-size: 10px;
  border-radius: 4px;
  cursor: pointer;
  -o-transition:.3s;
  -ms-transition:.3s;
  -moz-transition:.3s;
  -webkit-transition:.3s;
  transition:.3s;
  margin-top: 10px;
  filter: drop-shadow(0px 1px 1px #232E3E);
}
button:hover {
  background-color: #685C79;
}
button.slack-invite {
  color: #FFF;
  background-color:  #455C7B;
  font-size: 18px;
  padding: 5px 15px;
  text-transform: uppercase;
}
button.slack-invite:hover {
  background-color: #DA727E;
}
.nav-link {
  color: #FFF;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 18px;
  z-index: 5;
  padding-left: 20px;
}
.container {
  position: absolute;
  height: 100%;
  width: 100%;
}
.main-logo {
  z-index: 1;
  width: 130px;
  margin-top: 150px;
  opacity: 0.85;
}
.alpha {
  width: 70px;
  margin-top: -20px;
  opacity: 0.5;
  padding-bottom: 25px;
}
@keyframes wavyMove {
  from { background-position: 0px 0px; }
  to { background-position: 1200px 0px; }
}
.wavy-top {
  height: 150px;
  width: 100%;
  position: absolute;
  top: -150px;
  left: 0px;
  background-position: 0px 0px;
  background-size: 1200px 150px;
  animation: wavyMove 50s linear infinite;
  background-image: url('images/borderWave.png');
}
.half-contain {
  display: inline-block;
  padding: 90px;
  padding-top: 50px;
  text-align: center;
  vertical-align: top;
}
#output {
  z-index: -1;
}
#main-page {
  width: 100%;
  height: 106%;
  margin: auto;
  text-align: center;
  position: relative;
}
#part-six {
  width: 100%;
  height: 30%;
  padding-top: 0px;
  background-color: #FFF;
  text-align: center;
  position: relative;
}
.typeform-widget {z-index: -1;}

/* Responsiveness! ------------------------------------------- */

/* iPad Pro Landscape */
@media screen and (orientation:landscape) and (min-width: 1198px) and (max-width: 1366px) {
  .main-logo {
    margin-top: 280px;
  }
  #main-page {
    height: 100%;
  }
}

/* iPad Pro Portrait */
@media screen and (orientation:portrait) and (min-width: 1024px) and (max-width: 1197px) {
  #main-page {
    height: 80%;
  }
  #output {
    top: -200px;
  }
  .main-logo {
    margin-top: 280px;
  }
  h3 {
    font-size: 20px;
  }
  .half-contain {
    padding: 45px;
  }
  .wavy-top {
    top: -149px;
  }
  #part-six {
    height: 10%;
  }
}

/* iPad Landscape*/
@media screen and (orientation:landscape) and (min-width: 1024px) and (max-width: 1197px) {
  h3 {
    font-size: 20px;
  }
  .half-contain {
    padding: 50px;
  }
}

/* iPad Portrait*/
@media screen and (orientation:portrait) and (min-width: 415px) and (max-width: 1023px) {
  #output {
    top: -120px;
  }
  #main-page {
    height: 85%;
  }
  .main-logo {
    margin-top: 180px;
  }
}

/* Mobile Large - iPhone Plus sizes, etc. */
@media screen and (orientation:landscape) and (min-width: 668px) and (max-width: 737px) {
  #main-page {
    height: 115%;
  }
  .main-logo {
    margin-top: 10px;
  }
  h1 {
    margin: 0;
    margin-top: -10px;
    font-size: 55px;
  }
  h2 {
    margin-top: 0;
    line-height: 1.2;
  }
  .half-contain {
    padding: 0;
    padding-bottom: 80px;
  }
}

@media screen and (orientation:portrait) and (min-width: 414px) and (max-width: 415px) {
  .main-logo {
    margin-top: 50px;
  }
}


/* iPhone 6 Landscape */
@media screen and (orientation:landscape) and (min-width: 569px) and (max-width: 668px) {
  #main-page {
    height: 115%;
  }
  .main-logo {
    width: 110px;
    margin-top: 5px;
  }
  h1 {
    margin: 0;
    font-sie: 65px;
  }
  h2 {
    margin-top: 0;
    line-height: 1.2;
  }
  .half-contain {
    padding: 0;
    padding-bottom: 80px;
  }
}

/* iPhone 6 Portrait */
@media screen and (orientation:portrait) and (min-width: 322px) and (max-width: 375px) {
  #main-page {
    height: 111%; 
  }
  .main-logo {
    margin-top: 40px;
  }
  .half-contain {
    padding: 0;
    padding-bottom: 50px;
  }
  h1, h2 {
    line-height: 1.2;
  }
}

/* Mobile Small - iPhone 5, etc. */
@media screen and (max-width: 321px) {
  #main-page {
    height: 111%; 
  }
  .main-logo {
    margin-top: 30px;
    width: 100px;
  }
  .half-contain {
    padding: 0;
    padding-bottom: 50px;
  }
  h1 {
    line-height: 1.0;
    margin-bottom: 0;
    font-size: 55px;
  }
  h2 {
    font-size: 18px;
  }
}

@media screen and (orientation:landscape) and (min-width: 321px) and (max-width: 568px) {
  #main-page {
    height: 130%;
  }
  .main-logo {
    width: 80px;
    margin-top: 5px;
  }
  h1 {
    margin: 0;
    margin-top: -10px;
    font-size: 50px;
  }
  h2 {
    margin-top: 0px;
    line-height: 1;
    font-size: 18px;
  }
  #part-six {
    height: 20%;
  }
  .half-contain {
    padding: 0;
    padding-bottom: 50px;
  }
}

/* Nexus 5 */
@media screen and (orientation:portrait) and (min-width: 376px) and (max-width: 413px) {
  .main-logo {
    margin-top: 50px;
  }
  #main-page {
    height: 110%;
  }
}
